body{
	background-color:lightblue;
	color: teal;
	font-family: Book Antiqua;
	background-image: url(../images/sky.jpg);
}

h1{
	color:navy;
	text-align:center;

}

h2{
	color: green;

}

hr{
	font-size:0px;
	color: navy;
	background-color:navy;
	line-height:30px;
}
a{
	font-weight: bold;
}
a:link{
	color: #0000CD;
}

a:visited{
	color: yellow;
}

a:hover{
	text-decoration: none;
}

a:active{
	color: aqua;
	background-color: navy;
}

p{
	text-align:center;
}
table{
	border-spacing: 2em;
	width: 45%;
	margin: 2% 0;
	color: yellow;
	text-align: center;
 }
 p:nth-of-type(1) {
    background: red;
  }
  nav{
	  background-color:Navy;
	  border: 2px solid;
	  border-color: black;
	  text-align:center;

  }

  nav li{
	display:inline;
  }